.searchDiv {
    margin-left: 8rem;
    margin-top: 3rem !important;
}

.searchInput {
    width: 20rem !important;
    height: 3rem !important;
    border: none !important;
    background-color: #E7EAEE !important;
    border-radius: 3rem !important;
    padding-left: 5rem !important;
}

.buttonsDiv {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}

.newTicketDiv {
    margin-left: 8rem !important;
    margin-top: 2rem !important;
}

.ticketLink {
    text-decoration: none !important;
}

.newTicketBtn {
    background-color: #608BF5CC !important;
    text-transform: capitalize !important;
    width: 25rem !important;
    border-radius: 0.8rem !important;
}

.newTicketSpan {
    padding: 0.6rem 0 !important;
    color: #000000 !important;
}

.helpDiv {
    display: flex;
    flex-direction: row;
    margin-right: 5rem !important;
    margin-top: 2rem !important;
}

.helpBtn {
    text-transform: capitalize !important;
    border-color: #FF5271 !important;
    width: 20rem !important;
    margin-top: 0.2rem !important;
}

.helpSpan {
    padding: 0.6rem 0 !important
}

.smsIcon {
    color: #FF5271 !important;
    font-size: 4rem !important;
    margin-left: 0.3rem !important;

}