.notifCard {
    box-shadow: none;
    border-radius: 1.3rem !important;
    background-color: #F5F5F5 !important;
    margin-bottom: 0.3rem;
    margin-top: 0.7rem;
    border: 5px solid #66BB65;
}

.notifSpan {
    display: flex;
    margin-right: auto !important;
}

.notification {
    font-family: Abyssinica SIL !important;
    padding-left: 4rem;
    color: #606060;
    font-size: 0.95rem;
    padding-top: 0.1rem;
}

.title {
    display: flex;
    margin-right: auto !important;
}

p {
    padding-left: 1rem;
}

.bioForm {
    background: #F5F5F5 !important;
    border: 5px solid rgba(160, 187, 255, 0.8);
    border-radius: 1.3rem !important;
}

.form {
    margin: 2rem 2rem;
}

.justifyForm {
    display: flex !important;
    justify-content: space-between !important;
}

label {
    font-weight: lighter !important;
}

::-webkit-file-upload-button {
    width: 8rem !important;
    height: 2rem;
    border-radius: 1.3rem;
    border: 3px solid #D9D9D9;
}

.errorMsgDiv {
    padding-left: 0.5rem;
}

.errorMsg {
    display: flex !important;
    justify-content: flex-start !important;
    margin-left: 1rem !important;
    color: #d55c72 !important;
    font-family: 'Abyssinica SIL' !important;
}