.ticketingBox {
    margin: 2rem !important;
}

input[type=text] {

    background-color: #F5F5F5 !important;
    border-radius: 0.5rem !important;
    height: 3.5rem !important;
    border: none !important;
    width: 100% !important;
    margin-top: 2rem !important;
    padding-left: 2rem !important;
}

.ticketingTextAreaDiv {
    margin-top: 2.5rem !important;
}

.ticketingTextArea {
    background-color: #F5F5F5 !important;
    border: none !important;
    width: 100% !important;
    max-width: 96% !important;
    padding: 1.5rem !important
}

.sendButtonDiv {
    display: flex !important;
    justify-content: flex-end !important;
    margin-right: 1rem !important;
}

.sendButton {
    text-transform: capitalize !important;
    background-color: #FF5271 !important;
    width: 9rem !important;
    height: 3rem !important;
    border-radius: 0.8rem !important;
    color: #FFFFFF !important;
    margin-top: 1rem !important;

}