.notifCard {
    box-shadow: none;
    border-radius: 1.3rem !important;
    background-color: #F5F5F5 !important;
    margin-bottom: 0.3rem;
    margin-top: 0.7rem;
    border: 5px solid #66BB65;
}

.notifSpan {
    display: flex;
    margin-right: auto !important;
}

.notification {
    font-family: Abyssinica SIL !important;
    padding-left: 4rem;
    color: #606060;
    font-size: 0.95rem;
    padding-top: 0.1rem;
}

.title {
    display: flex;
    margin-right: auto !important;
}

p {
    padding-left: 1rem;
}

.bioForm {
    background: #F5F5F5 !important;
    border: 5px solid rgba(160, 187, 255, 0.8);
    border-radius: 1.3rem !important;
    // width: 28rem;
}

.form {
    margin: 2rem 2rem;
}


input[type=text] {
    border-radius: 2rem;
    height: 1.6rem;
    width: 17rem;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid rgba(15, 15, 15, 0.385) !important;
}

[type="radio"] {
    visibility: hidden;
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
}

[type="radio"]::before {
    border: 3px solid #D9D9D9;
    background-color: white;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    display: block;
    content: "";
    cursor: pointer;
    visibility: visible;
}

[type="radio"]:checked::before {
    border: 3px solid rgb(0, 255, 55);
}

.errorMsgDiv {
    padding-left: 0.5rem;
}

.errorMsg {
    display: flex !important;
    justify-content: flex-start !important;
    margin-left: 1rem !important;
    color: #d55c72 !important;
    font-family: 'Abyssinica SIL' !important;
}