.box {
    width: 56rem !important;
    margin-left: auto;
}

span {
    font-family: 'Abyssinica SIL' !important;
}

.notifSpan {
    font-size: 1rem;
    font-weight: 100 !important;
    margin: 0.5rem 0 !important;
    font-family: 'Abyssinica SIL' !important;
}

.applySpan {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1.2rem;
    margin-top: 2.2rem !important;
    font-family: 'Abyssinica SIL' !important;
    font-weight: 100 !important;
}

.chanceBtn {
    padding: 0.6rem !important;
    font-size: 1rem !important;
    text-transform: capitalize !important;
    font-family: 'Abyssinica SIL' !important;
    font-weight: 100 !important;
}

.notifBtn {
    padding: 1rem 0 !important;
    font-size: 1rem !important;
    text-transform: capitalize !important;
    font-family: 'Abyssinica SIL' !important;
    border-radius: 0.8rem !important;
}

.proBtn {
    font-weight: 100 !important;
    color: #ffffff !important;

}

.applyBtn {
    text-decoration: none !important;
}